
.inputContainer {
  display: flex;
  padding: 8px 11px;
  line-height: 24px;
  height: 24px;
  align-items: center;
  gap: 10px;
  color: white;
}
.input {
  display: flex;
  flex-grow: 1;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 0;
  padding: 0;
}
.input::placeholder {
  color: #7185aa;
  opacity: 1;
}
.input:focus {
  outline: 0;
}