
.textareaContainer {
  display: flex;
  line-height: 24px;
  color: white;
  padding: 2px;
}
.textarea {
  display: flex;
  flex-grow: 1;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  width: 100%;
  padding: 6px 9px;
  min-height: 56px;
}
.textarea::placeholder {
  color: #7185aa;
  opacity: 1;
}
.textarea:focus {
  outline: 0;
}

.limitContainer {
  line-height: 24px;
  font-size: 14px;
  color: #43495e;
}