.searchInput.searchInput {
  background-color: #131823;
}
.searchInputFocused.searchInputFocused {
  box-shadow: 0 0 0 4px #b89fff, 0 0 0 1px #663cdd inset;
}

.searchIconContainer {
  display: flex;
}
.searchIcon {
  width: 20px;
  height: 20px;
}

.clearIconContainer {
  position: relative;
  display: flex;
  cursor: pointer;
}
.clearIcon {
  width: 24px;
  height: 24px;
}