.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #0d1119;
  width: 410px;
  overflow: hidden;
  padding: 24px;
  box-sizing: border-box;
  gap: 24px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Helvetica Neue";
}
