.searchIconContainer {
  display: flex;
}
.searchIcon {
  width: 20px;
  height: 20px;
}

.clearIconContainer {
  position: relative;
  display: flex;
  cursor: pointer;
}
.clearIcon {
  width: 24px;
  height: 24px;
}