.container {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  align-items: center;
  justify-content: center;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchIcon {
  width: 120px;
  height: 120px;
  opacity: .7;
  animation: welcome-animation 2s infinite linear;
}
.text {
  font-size: 18px;
}

@keyframes welcome-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}