.container {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  font-family: "Bai Jamjuree";
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.title {
  font-weight: 500;
  overflow: hidden;
  word-wrap: break-word;
}
.countryFlag {
  height: 16px;
  border-radius: 2px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 8px;
  font-family: "Helvetica Neue";
}
.brandButton {
  border: 0;
  border-radius: 30px;
  background-color: #171f2f;
  display: flex;
  padding: 7px;
  gap: 5px;
  cursor: pointer;
}
.brandIcon {
  width: 10px;
  height: 10px;
}

.addRecipeButton {
  white-space: nowrap;
  border-radius: 4px;
  background-color: #171f2f;
  padding: 0 7px;
  gap: 5px;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.brandButton:focus,
.addRecipeButton:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #b89fff, 0 0 0 1px #663cdd inset;
}