.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.labelContainer {
  display: flex;
  gap: 5px;
  font-size: 16px;
  color: #fff;
  font-family: "Bai Jamjuree";
}
.label,
.required {
  font-weight: 500;
}
.required {
  color: #663cdd;
}

.controlContainer {
  display: flex;
  flex-direction: column;
  background-color: #181f30;
  box-shadow: 0 0 0 1px #5b6178;
  border-radius: 6px;
  color: white;
}
.controlContainerFocused {
  box-shadow: 0 0 0 2px #b89fff, 0 0 0 1px #663cdd inset;
}

.errorContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #d2092d;
}
.errorIcon {
  width: 16px;
  height: 16px;
}
.errorText {
  line-height: 24px;
}